
.cardd {
  padding-top: 65px;
  background-color: #ffeaa7;
}

.contact {
  padding-top: 85px;
}

.contact h2{
  color: rgb(223, 165, 39);
}

.btn{
  background:rgb(248, 209, 124);
  color: rgb(196, 134, 21);
}

.active {
  color: rgb(180, 124, 3);
  content: '';
  display: block;
  border-bottom: 2px solid rgb(243, 209, 96);
  padding-bottom: 21px;
  margin-bottom: -20px;
}

.iconnavbar {
  font-family : 'Lucida Sans Unicode', sans-serif;
  font-size: 25px;
}

.nav-link {
  text-transform: uppercase;
  margin-right: 10px;
}

.jumbotron {
  padding-top: 60px;
  background-size: auto 600px;
  background-color: #ffeaa7;
  background-repeat: no-repeat;
  background-position: right top;
  height: 600px;
}

.slogan {
  margin-top: 180px;
  font-family: 'Roboto', sans-serif;
  color: rgb(218, 192, 45);
  text-shadow: 1px 1px 1px rgb(70, 70, 70);
}

.tombol {
  text-transform: uppercase;
  border-radius: 40px;
  margin-top: 40px;
  margin-left: 250px;
  
}

.about{
  padding-top: 70px;
  background-size: auto 650px;
  height: 700px;
}

.bgrnd{
  background-color: #ffeaa7;
}

.about img{
  margin-top: 30px;
  width: 400px;
}

.about h6{
  color: rgb(194, 152, 16);
  margin-top: 30px;
}

.about h2 {
  margin-top: 17px;

}

.garis{
  border-bottom: 2px solid rgb(241, 189, 76);
  padding-bottom: 18px;
  width: 30%;
}

.about p {
  margin-top: 20px;
}

.thumbnail {
    margin-top: 50px;
    margin-bottom: 20px;
}

.footer{
  margin-top: 20px;
  background-color: #f8ab1c;
  padding: 10px;
  text-align: center;
}